:root {
  --primary-color: #50c878;
  --primary-hover: #3d9f5e;
  --secondary-color: #4a90e2;
  --text-color: #333;
  --background-color: #f6f9fc;
  --card-bg: #ffffff;
  --sidebar-bg: #e0e0e0;
  --borger-color: #ccc;
  --hover-color: #bcd8f8;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
}

/* Sidebar/Question Navigation */
.sidebar {
  width: 25%;
  min-width: 280px;
  background-color: var(--sidebar-bg);
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 20px;
}

.sidebar-header {
  text-align: left;
  font-size: 18px;
}

.question-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.question-btn {
  padding: 15px 0;
  text-align: center;
  border: 1px solid var(--borger-color);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.question-btn:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

.question-btn.active {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.question-btn.answered {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* Main content area */
.quiz-content {
  display: flex;
  flex-direction: column;
  padding: 30px 40px 40px;
  width: 100%;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.quiz-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borger-color);
}

.question-container {
  margin-top: 20px;
  height: 100%;
}

.question-header {
  display: flex;
  font-size: 24px;
  margin-bottom: 30px;
}

.question-num {
  font-weight: 600;
}

.question-text {
  margin-left: 10px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option {
  padding: 20px;
  background-color: #e9e9e9;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: #d9d9d9;
}

.option.selected {
  background-color: var(--primary-color);
  color: white;
}

.navigation-buttons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

.nav-btn {
  padding: 10px 30px;
  border: 1px solid var(--borger-color);
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover:not(:disabled) {
  background-color: #e0e0e0;
}

.nav-btn:disabled {
  opacity: 0.5;
  cursor: auto;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--primary-color);
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.error-message {
  color: #f44336;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
